*{
    margin: 0;
    box-sizing: border-box;
}
    
    .haut {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

        .div1 { grid-area: 1 / 1 / 9 / 9; }

        .div1{
        width: auto;
        height:50vh;
        display: flex; 
        justify-content: center;
        align-items: center;
        background-image: url("../image/banière.gif");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
}

img{
    margin-top: -300px;
}

a {
    display: flex;
    justify-content: center;
    max-width: 190px;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 30px;
    transition: 1s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    
  }
  
.button{
    margin-top: -300px;
}

  a.button {
    color: #00bfff;
    box-shadow: #020202 0 0 0 2px inset;
    height: 8vh;
    margin-left: 600px;
    
  }
  
  a.button:hover {
    color: #fff;
   
  }
  .button:hover{
    background-color: rgb(102, 25, 25);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .menu1 { grid-area: 1 / 1 / 2 / 9; }
    .image_tete { grid-area: 2 / 1 / 3 / 9; }
    .image_presentation{ grid-area: 3 / 1 / 4 / 9; }
    .texte_presentation{ grid-area: 3 / 1 / 4 / 4; }
    .button_presentation{ grid-area: 3 / 6 / 4 / 9; }
    .carroussel { grid-area: 4 / 1 / 5 / 9; }
    .photo1 { grid-area: 5 / 1 / 6 / 5; }
    .photo2{ grid-area: 5 / 6 / 6 / 9; }
    .footer{ grid-area: 6 / 1 / 7 / 9; }
    .contact{ grid-area: 6 / 7 / 7 / 9; }
    .menu_footer { grid-area: 6 / 3 / 7 / 6; }
    .logo_footer { grid-area: 6 / 1 / 7 / 2; }



    nav {
        text-align: center;
    
      
      }
      .menu1 {
        display:flex;
        justify-content: space-around;
    
      }
      .menu1 > li {
        float: left;
        color: #b36700;
        width: 200px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 1em;
        text-shadow: #000000 1px 1px 1px ;

      }
      .sub-menu {
        transform: scale(0);
        transform-origin: top center;
        transition: all 300ms ease-in-out;
      }
      .sub-menu li {
        font-size: 18px;
        padding: 8px 0;
        transform: scale(0);
        transform-origin: top center;
        transition: all 300ms ease-in-out;
        font-size: 0.6em;
        color: #000000;
        text-shadow: #b36700 0.5px 0.5px 0.5px ;
       
        
      }
    
       a{
        text-decoration: none;
        color: rgb(8, 8, 8);
      }
    

    
      .sub-menu li:hover {
        color: coral;
      }
      .menu1 > li:hover .sub-menu li {
        transform: scale(1);
      }
      .menu1 > li:hover .sub-menu {
        transform: scale(1);
      }

      li{
       list-style: none;
      }


      .image_tete{
        background-image: url(../image/ile-pirate_bis.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: auto;
        height: 475px;
        margin-top: -170px;
      }
.image_presentation{
    background-image: url(../image/maxresdefault_720.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    position:relative;
    width: auto;
    height: 450px;
    z-index: -1;
}

.texte_presentation{
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bolder;
}

.button_presentation{
    height: 20vh;
    width: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.button_presentation a{
   background-color: #000000;
   color: #b36700;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   margin-left: 150px;
}
.button_presentation a:hover{
    background-color: #fff;
}


.titre{
  margin-top: -550px;
  display:flex;
  justify-content: center;
text-align: center;
  
}

   /* debut slider */
         




label {
  background:color rgb(243, 6, 6);
  color: rgb(233, 4, 4);
  transition: transform 400ms ease-out;
  display: inline-block;
  width: 100%;
  height: 70vh;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 1850px;
      
   }
   
   form {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       white-space: nowrap;
      
     
   }
   input {
       position: absolute;
   }
   


   input:nth-of-type(1):checked ~ label:nth-of-type(1), 
   input:nth-of-type(2):checked ~ label:nth-of-type(2),
   input:nth-of-type(3):checked ~ label:nth-of-type(3),
   input:nth-of-type(4):checked ~ label:nth-of-type(4){
      z-index: 0;
   }
   
   input:nth-of-type(1):checked ~ label {
       transform: translate3d(0, 0, 0);
   }
   
   input:nth-of-type(2):checked ~ label {
       transform: translate3d(-100%, 0, 0);
   }
   
   input:nth-of-type(3):checked ~ label {
       transform: translate3d(-200%, 0, 0);
   }
   
   input:nth-of-type(4):checked ~ label {
       transform: translate3d(-300%, 0, 0);
   }
   
   label {
       background: #444;
       background-size: cover;
       font-size: 3rem;
   }
   
   label[for="diamonds"]{
     background-image: url("../image/banniere.jpg");
   }


   label[for="hearts"]
    {
       background-image: url("../image/banière.gif");
   }

   
   label[for="spades"]
    {
       background-image: url("../image/Piratland-entrée.jpg");
   }

   label[for="clubs"]
   {
      background-image: url("../image/actualité\ halloween.jpg");
  }
   
   label:before,
   label:after {
       color: white;
       display: block;
       background: rgba(255,255,255,0.2);
       position: absolute;
       padding: 1rem;
       font-size: 3rem;
       height: 10rem;
       line-height: 10rem;
       top: 50%;
       transform: translate3d(0, -50%, 0);
       cursor: pointer;
   }
   
   label:before {
       content: "\276D";
       right: 100%;
       border-top-left-radius: 50%;
       border-bottom-left-radius: 50%;
   }
   
   label:after {
       content: "\276C";
       left: 100%;
       border-top-right-radius: 50%;
       border-bottom-right-radius: 50%;
   }
   

/* fin slider */

h3{
  text-align: center;
margin-top: 700px;
color: #000;
}

.photo1{

    border: 1px solid crimson;
    width: auto;
    height: 200px;
   margin-top: 300px;
}
.photo2{

    border:1px solid crimson;
    width: auto;
    height: 200px;
    margin-top: 300px;
}

     /*debut  footer */
          .footer{
            width: auto;
            height: 20vh;
            border-top: #b36700 2px solid;
            background-color: #000000;
            box-shadow: #b36700 5px 2px 2px;
          
          }

          .contact{
            width: auto;
            height: 20vh;
           display: block;
          text-align: center;
          color: #b36700;
           font-size: 1.5em;
           font-weight: bolder;
          }

          
    .menu_footer{
    width: auto;
    height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
   font-size: 1.5em;
   font-weight: bolder;
   color: #b36700;
  }

  .logo_footer{
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* fin footer */
    
  
  
    
 


